noscript div {
    background-color: rgba(4, 0, 15, 0.26);
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    position: absolute;
    display: flex;
    margin: auto;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

noscript div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}