h1 {
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.content {
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even) {
    padding: 20px;
    background: #f2f2f2;
}

li span {
    display: block;
}

li span:nth-child(2) {
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

/*form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}


form:after{
    content: '';
    clear: both;
    display: block;
} */

button {
    border: 0;
    border-radius: 30px;
    min-width: 1%;
    /*box-shadow: -1px 0 1px rgba(0,0,0,0.1);*/
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6em 0;
    color: #fff;
    text-align: center;
}


html, body, div, span, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* Typography */
body, input, select, textarea {
    color: #9a9a9a;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.85em;
    font-weight: 300;
}

h3 {
    font-size: 1.75em;
}

@media screen and (max-width: 480px) {

    h3 {
        font-size: 1.25em;
    }

}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}


/* Flex */
.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.flex.flex-2 {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-2 article {
    width: 50%;
}

@media screen and (max-width: 980px) {

    .flex.flex-2 article {
        width: 100%;
        margin-bottom: 3em;
    }

    .flex.flex-2 article:last-child {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 480px) {

    .flex.flex-2 br {
        display: none;
    }

}

/* Button */
.button {

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #a6a1ff;
    color: #a6a1ff;
    border-radius: 30px;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    line-height: 3.85em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover {
    background-color: rgba(166, 161, 255, 0.15);
}

/* Banner Main */
#banner {
    padding: 0 0 9em 0;
    background-image: url(./components/images/banner2.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#banner:before {
    content: '';
    background: rgba(44, 44, 61, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#banner .inner {
    position: relative;
    padding-top: 60px;
    padding-bottom: 160px;
}

#banner h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

#banner h3 {
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.5em;
}

#banner p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 1.75em;
}

#banner .flex {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 4em auto;
}

#banner .flex div {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 8em;
}

#banner .flex div:last-child {
    border: none;
    padding-right: 0;
}

#banner .flex div:first-child {
    padding-left: 0;
}

#banner .flex div p {
    margin: 0;
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 7em 0 6em 0;
    }

    #banner .inner {
        padding-top: 6em;
    }

    #banner h1 {
        font-size: 3em;
    }

    #banner h3 {
        font-size: 1.25em;
    }

    #banner .flex div {
        padding: 0 3em;
    }


}
